<script setup lang="ts">
import { useFavorito } from "@/store/favorito"
import { RouterLink } from "vue-router";
const favorito = useFavorito()
</script>


<template lang="pug">
.favorite-container
  h1(v-if="favorito.favorito.length === 0") No has seleccionado un favorito
  .pokemon-show(v-else)
    h2 Tus pokemones favoritos son:
    ul
      li(v-for="poke in favorito.favorito" :key="poke.id")
        .list-poke 
          strong {{poke.name}}
          img(:src="poke?.sprites.front_default" :alt="`Imagen de ${poke?.name}`")
          .btn.btn-danger.me-2(@click="favorito.removeElement(poke?.name)") Remover
          RouterLink.btn.btn-info(:to="`/pokemons/${poke?.name}`") Ver más info
</template>