<script setup lang="ts">
// import ShowCounter from "@/components/ShowCounter.vue";
import { useGetApiData } from "@/composables/getApiData";
import { useRoute, useRouter } from "vue-router";
import { useFavorito } from "@/store/favorito"
import NotFoundView from "./NotFoundView.vue";

const route = useRoute()
const router = useRouter()
const favorito = useFavorito()
const { 
  getApiData,
  data,
  isLoading,
  err404
} = useGetApiData()
const back = () => {
  router.push("/pokemons")
}
getApiData(`https://pokeapi.co/api/v2/pokemon/${route.params.pokeName}`)
</script>


<template lang="pug">
template(v-if="!isLoading && !err404")
  //- ShowCounter
  h2 El pokemon que elegiste es: 
    span {{ data?.name }}!
  img(:src="data?.sprites.front_default" :alt="`Imagen de ${data?.name}`")
  button.btn.btn-secondary.me-2(@click="back") Back
  button.btn.btn-outline-primary(@click="favorito.changeFavorito(data)" :disabled="(favorito.getIndexObj(data?.name) > -1)") Add favoritos
NotFoundView(v-if="err404")
</template>

<style scoped>
img {
  display: block;
}
span {
  font-weight: bold;
}
</style>