<script setup lang="ts">
import { useGetApiData } from "@/composables/getApiData";
import { useSearchPage } from "@/store/searchPage";
import { RouterLink } from 'vue-router'
const searchPage = useSearchPage()
const {
  getApiData,
  data,
  isLoading
} = useGetApiData()

getApiData(searchPage.actualPage ? searchPage.actualPage :"https://pokeapi.co/api/v2/pokemon")

const changePage = (page:string, val:number) => {
  getApiData(page)
  searchPage.changeSearchPageUrl(page)
  searchPage.changeSearchPage(val)
}
</script>

<template lang="pug">
h1 Pokemons:
.data-container(v-if="!isLoading")
  ul.list-group
    li.list-group-item(v-for="pokemon in data.results" :key="pokemon.name") 
      RouterLink(:to="`/pokemons/${pokemon.name}`") {{ pokemon.name }}
  button.btn.btn-warning.me-2(
    :disabled="!data?.previous"
    @click="changePage(data?.previous, -1)"
  ) Previous
  button.btn.btn-primary.me-2(
    :disabled="!data?.next"
    @click="changePage(data?.next, +1)"
  ) Next
  .btn.btn-primary.disabled.btn-c {{searchPage.searchPage}}

</template>

<style scoped>
.btn-c {
  background-color: red;
  border-color: red
}
</style>