<script setup lang="ts">
import { useCounterStore } from "@/store/counter"
const counterStore = useCounterStore()
</script>

<template lang="pug">
.container
  h2 Valor de counter: {{counterStore.counter}}
  h2 Doble counter: {{counterStore.double}}
  button(@click="counterStore.increment") Incrementa
</template>