<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template lang="pug">
nav.navbar.bg-light
  .container
      router-link.navbar-brand(to='/')
        img.d-inline-block.align-text-top(src='@/assets/logo.svg' alt='Logo' width='30' height='24')
        | Vue Router v02
      .buttons-grp
        router-link.btn.btn-outline-primary.me-2(to='/about') About
        router-link.btn.btn-outline-primary.me-2(to='/pokemons') Pokemons
        router-link.btn.btn-outline-primary(to='/favorito') Favoritos
.container
  RouterView
</template>
